@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section LayoutHead{
    <script src="~/StaticContent/Admin/js/queryList.js"></script>
}

@section LayoutFoot{

    <script type="text/javascript">
        //淘宝前端所写日历控件
        YUI({
            modules: {
                'trip-calendar': {
                    fullpath: '../../StaticContent/Admin/js/trip-calendar.js',
                    type: 'js',
                    requires: ['trip-calendar-css']
                },
                'trip-calendar-css': {
                    fullpath: '../../StaticContent/Admin/css/trip-calendar.css',
                    type: 'css'
                }
            }
        }).use('trip-calendar', function (Y) {

            /**
             * 弹出式日历实例
             * 将日历与指定的触发元素绑定
             * 日历可根据浏览器窗口大小，自动调整显示位置
             */
            var oCal = new Y.TripCalendar({
                //绑定日历的节点，支持选择器模式，可批量设置（必选）
                triggerNode: '#startdate , #enddate'
            });

            oCal.on('dateclick', function (e) {
                this.getCurrentNode().setAttribute('data-date', e.date);
            });

            //显示日历时自定义事件
            oCal.on('show', function () {
                var v = this.getCurrentNode().getAttribute('data-date');
                this.set('date', v || new Date);
                this.set('selectedDate', v).render();
            });

            //解决chrome的foucs事件bug
            Y.on('click', function (e) {
                e.currentTarget.focus();
            }, 'button, .J_Link');

            //Query 方法
            $('#btnQuery').on('click', function () {

                LoadStart();

                var state = $('#hState').val();

                var startdate = Y.one("#startdate").get('value');
                var enddate = Y.one("#enddate").get('value');

                if (!startdate) { startdate = $('#startdate').prev('span').text(); }
                if (!enddate) { enddate = $('#enddate').prev('span').text(); }

                var vContainer = $("#recordlist");

                vContainer.empty();
                vContainer.load("/Admin/CommodityOrderlistTable", { state: state, st: startdate, ed: enddate, index: $('#hPageIndex').val() }, function (data) {
                    if ($('#hIsLast').val() == 'True') { LastPageFlag(true); }
                    else { LastPageFlag(false); }

                    LoadEnd();
                });

                //按钮处理：处理退款
                $('.uState5').remove();
            });
        });
    </script>

    <script>
        $(function () {
            //初始化
            InitCommon_QueryList();

            //默认查询
            //query();

            //事件绑定
            BindEventCommon_QueryList();

            //菜单初始化
            InitLeftNavMenu('/Admin/CommodityOrderList');
        });

        //自定义方法区

        //----- 订单相关操作方法 -----

        //1.修改价格
        function ChangePrice(orderID) {
            //Init Check
            var vEvent = event;
            var vArguments = arguments;

            if (!FuncCanOpeCheck(vEvent, vArguments)) { alert('无权进行此操作！'); return false; }

            LoadDialog('修改价格',
                function () { //确定修改价格按钮
                    var vLineIDs = '';
                    var vRealUnitPrices = '';
                    var vCounts = '';

                    $.each($('.pop_cont_input input'), function (index, item) {
                        var vItem = $(item);
                        vLineIDs += vItem.attr('uLineID') + ',';
                        vRealUnitPrices += vItem.val() + ',';
                        vCounts += vItem.attr('uCount') + ',';
                    });

                    $.get('/Admin/ChangeOrderPriceOpe',
                        { par1: vLineIDs, par2: vRealUnitPrices, par3: vCounts },
                        function (data) {
                            if (data && data.Flag) {
                                alert('价格修改成功！');

                                //数据刷新
                                $('#btnQuery').click();
                            }
                        },
                        'json');
                });

            //加载HTML
            $('.pop_cont_input').load('/Admin/ChangeOrderPrice', { par1: orderID }, function () {
                DialogShowHide(true);
            });
        }

        //2.关闭订单
        function OrderClose(orderID) {
            //Init Check
            var vEvent = event;
            var vArguments = arguments;

            if (!FuncCanOpeCheck(vEvent, vArguments)) { alert('无权进行此操作！'); return false; }

            var vResult = confirm('确定要关闭改订单？');

            if (vResult) {
                $.get('/Admin/OrderClose',
                    { par1: orderID },
                    function (data) {
                        if (data && data.Flag) {
                            //数据刷新
                            $('#btnQuery').click();
                        }
                        else {
                            alert(data.Msg);
                        }
                    },
                    'json');
            }
        }

        //3.填写快递单号
        function WriteExpNum(orderID, expCode, expNum) {
            //Init Check
            var vEvent = event;
            var vArguments = arguments;

            if (!FuncCanOpeCheck(vEvent, vArguments)) { alert('无权进行此操作！'); return false; }

            LoadDialog('填写快递单号',
                function () { //填写快递单号确定按钮
                    //Init
                    var vSelExp = $('#selExp');
                    var vExpCode = vSelExp.val();
                    var vExpType = $('option:selected', vSelExp).text();
                    var vInputExp = $('#txtExpNum');
                    var vExpNum = vInputExp.val();

                    //校验
                    if (vExpNum == null || vExpNum == undefined || vExpNum.trim() == '') {
                        ErrorTips(vInputExp, '请输入正确快递单号！');
                        return false;
                    }
                    else { ErrorTips(vInputExp, '', 'hide'); }

                    $.get('/Admin/WriteExpNumOpe',
                        { par1: $('#hOrderID').val(), par2: vExpCode, par3: vExpNum, par4: vExpType },
                        function (data) {
                            if (data.Flag) {
                                DialogShowHide(false);

                                //数据刷新
                                $('#btnQuery').click();
                            }
                            else { //异常提示
                                alert('快递单号填写失败！')
                            }
                        },
                        'json');
                });

            //加载HTML
            $('.pop_cont_input').load('/Admin/WriteExpNum', { par1: orderID }, function () {
                //初始化快递信息
                if (expCode) { $('#selExp').val(expCode); $('#txtExpNum').val(expNum); }

                DialogShowHide(true);
            });
        }

        //4.处理退款申请
        function OrderRefundOpe(orderID) {
            //Init Check
            var vEvent = event;
            var vArguments = arguments;

            if (!FuncCanOpeCheck(vEvent, vArguments)) { alert('无权进行此操作！'); return false; }

            LoadDialog('处理退款申请',
                function () {
                    var vPar = {};
                    vPar.RefundID = $('#refID').val();
                    vPar.OrderID = $('#refOrderID').val();
                    vPar.OrderNum = $('#refOrderNum').val();
                    vPar.RefundPrice = $('#refPrice').val();
                    vPar.TotalPrice = $('#refTotalPrice').val();

                    var vStrPar = JSON.stringify(vPar);

                    $.post('/Admin/OrderRefundOpe',
                        { par1: 'success', par2: vStrPar },
                        function (data) {
                            if (data && data.Flag) {
                                alert('退款处理成功！');
                                DialogShowHide(false);
                                //数据刷新
                                $('#btnQuery').click();
                            }
                            else {
                                alert(data.Msg);
                                return false;
                            }
                        },
                        'json');
                },
                function () {
                    if (confirm('要拒绝该退款申请吗？')) { //拒绝申请
                        var vPar = {};
                        vPar.RefundID = $('#refID').val();
                        vPar.OrderID = $('#refOrderID').val();

                        var vStrPar = JSON.stringify(vPar);

                        $.post('/Admin/OrderRefundOpe',
                            { par1: 'refused', par2: vStrPar },
                            function (data) {
                                alert(data.Msg);
                                if (!data.Flag) { return false; } //阻止关掉弹窗
                                else {
                                    //数据刷新
                                    $('#btnQuery').click();
                                }
                            },
                            'json');
                    }
                });

            //加载HTML
            $('.pop_cont_input').load('/Admin/OrderRefund', { par1: orderID }, function () {
                DialogShowHide(true);
            });
        }

        //OrderState + 可执行方法的配置信息
        var vStateFunctionConfig = { '0': [], '1': ['ChangePrice', 'OrderClose'], '3': ['WriteExpNum'], '4': [], '5': ['WriteExpNum', 'OrderRefundOpe'] };

        //异常提示方法封装
        function ErrorTips(vItem, vMsg, flag) {
            return new InputValidate().ErrorTips(vItem, vMsg, flag);
        }
    </script>
}


<section>
    <div class="page_title">
        <h2 class="fl">订单详情</h2>
    </div>
</section>
<section>
    <h2><strong style="color:grey;">查询条件</strong></h2>
    <div>
        <ul class="uk-tab order-type">
            <li class="cur" uState="-1">全部</li>
            <li uState="1">待付款</li>
            <li uState="30">待发货</li>
            <li uState="31">已发货</li>
            <li uState="5">退款中</li>
            <li uState="6">已完成</li>
            <li uState="4">已关闭</li>
        </ul>
    </div>
    <div style="padding-left:30px;" class="br-margin">
        订单时间：
        <input type="text" class="J_Item" autocomplete="off" id="startdate" />    至    <input type="text" class="J_Item" autocomplete="off" id="enddate" />
        &nbsp; &nbsp; &nbsp; &nbsp;<input type="button" value="查询" class="group_btn" id="btnQuery" />
    </div>
    <div id="recordlist" class="br-margin foot-margin"></div>
</section>
<input type="hidden" value="-1" id="hState" />
<input type="hidden" value="1" id="hPageIndex" />
