
@{
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

@section LayoutHead{
    <link href="~/StaticContent/css/selfScroll.css" rel="stylesheet" />

    <script src="~/StaticContent/js/iscroll.js"></script>
    <script src="~/StaticContent/js/selfScroll.js" charset="UTF-8"></script>
    <script src="~/StaticContent/js/template.js"></script>

    <script id="tplCommodity" type="text/html">
        {{each List as value index}}
        <div class="uk-width-medium-1-2">
            <div class="uk-panel uk-panel-box uk-panel-box-primary shop-item" style="margin-bottom:25px;">
                <a href="/WeShop/CommodityInfo/{{value.ID}}">
                    <img src="/{{value.Photo}}" alt="" class="uk-thumbnail uk-align-center shop-img">
                    <p>
                        <h1>{{value.Title}}</h1>
                    </p>
                    <h1 style="color:red;">￥{{value.Price}}</h1>
                </a>
                <span class="child-pos main-cart" uId="{{value.ID}}"></span>
            </div>
        </div>
        {{/each}}
    </script>
}

<div class="uk-container" id='wrapper'>
    <div id="scroller">

        <div uRemark="头部|图片滑动">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="http://101.200.140.102:8123/zzwIntro.html">
                            <img src="~/StaticContent/image/swiper/logoNc.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="http://101.200.140.102:8123/zzwIntro.html">
                            <img src="~/StaticContent/image/swiper/logoNd.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="http://101.200.140.102:8123/zzwIntro.html">
                            <img src="~/StaticContent/image/swiper/logoNe.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="http://101.200.140.102:8123/zzwIntro.html">
                            <img src="~/StaticContent/image/swiper/logoNf.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="http://101.200.140.102:8123/zzwIntro.html">
                            <img src="~/StaticContent/image/swiper/logoNg.jpg" alt="">
                        </a>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <br />

        @if (ViewBag.listNa != null)
        {
            <div uRemark="内容区域" class="uk-container uk-block" style="width:100%;background-color:#FBF9F5;">
                <br />
                <div uRemark="商品列表" class="uk-grid" id="dCommodityList">
                    @foreach (var item in ViewBag.listNa)
                {
                        <div class="uk-width-medium-1-2">
                            <div class="uk-panel uk-panel-box uk-panel-box-primary shop-item" style="margin-bottom:25px;">
                                <a href="/WeShop/CommodityInfo/@item.ID">
                                    <img src="~/@item.Photo" alt="" class="uk-thumbnail uk-align-center shop-img">
                                    <p>
                                        <h1>@item.Title</h1>
                                    </p>
                                    <h1 style="color:red;">￥@item.Price</h1>
                                </a>
                                <span class="child-pos main-cart" uId="@item.ID"></span>
                            </div>
                        </div>
                    }
                </div>
                <div class="uk-width-1-1" style="height:25px;"></div>
            </div>
        }

        <div id="pullUp" class="">
            <div class="uk-align-center" style="width:35%">
                <span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多</span>
            </div>
        </div>

    </div>

    <div id="modalAddShop" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header uk-grid">
                <div class="uk-width-2-6">
                    <img class="uk-thumbnail mini-photo" src="" alt="" id="modalCommImg">
                </div>
                <div class="uk-width-3-6">
                    <h1 style="font-size:36px;" id="modalCommTitle"></h1>
                    <h1 style="color:red;font-size:36px;" id="showShopPrice">￥</h1>
                </div>
                <div class="uk-width-1-6">
                    <a href="" class="uk-icon-hover uk-icon-close uk-modal-close uk-float-right" style="font-size:100px;"></a>
                </div>
            </div>

            <div id="dModalCommOption" uFlag="HasOption">
                <div class="br-box">
                    <br />
                </div>
                <div class="uk-width-1-1">
                    <br />
                    <h1>规格：</h1>
                </div>
                <div class="uk-flex" id="dCommoOptionShop" uid="" uPrice="0">
                </div>
                <br />
            </div>

            <div class="br-box">
                <br />
            </div>
            <br />
            <div class="uk-grid">
                <h1 class="uk-width-1-4">数量:</h1>
                <div class="uk-width-1-4"></div>
                <div class="uk-width-2-4 uk-float-right">
                    <button class="uk-button commodity-count" id="btnShopCountSub">-</button>
                    <button class="uk-button commodity-count" disabled="disabled" id="btnShopCount">1</button>
                    <button class="uk-button commodity-count" id="btnShopCountPlus">+</button>
                </div>
            </div>
            <br />
            <div class="br-box">
                <br />
            </div>

            <div class="uk-modal-footer">
                <button type="button" class="uk-button uk-button-large uk-width-1-1 mobile-button" style="background-color:#ff5000;" id="btnAddShop">加入购物车</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hPageIndex" value="1" />
<input type="hidden" value="" id="hStoreID" />
<input type="hidden" id="hIsScrollLast" value="False" />

@section LayoutShop{
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            paginationClickable: true,
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: 2500,
            autoplayDisableOnInteraction: false,
            loop: true
        });

        document.addEventListener('touchmove', function (e) {
            e.preventDefault();
        }, false);

        document.addEventListener('DOMContentLoaded', function () {
            //Deferred对象
            var deferred = $.Deferred();

            //底部上划数据加载方法
            var vFunLoad = function (deferred) {
                var IsLast = $('#hIsScrollLast');
                //验证是否为最后一页
                if (IsLast.val() == 'True') {
                    NotifyAlert('已加载完全部！');
                    deferred.resolve();
                    return false;
                }

                var vHItem = $('#hPageIndex');
                var vIndex = vHItem.val();
                vIndex = parseInt(vIndex) + 1;
                vHItem.val(vIndex);

                $.get('/RequestData/CommodityInfoByPage', { r: Math.random(), par1: '@ViewBag.ModuleID', par2: vIndex, par3: '' }, function (data) {
                    if (data && data.List) {

                        if (data.List.length == 0) { NotifyAlert('已加载完全部！'); }
                        else {
                            var vHtml = template('tplCommodity', data);
                            $('#dCommodityList').append(vHtml);
                        }
                        deferred.resolve();
                    }
                    else {
                        NotifyAlert('数据加载失败！');
                    }
                    deferred.resolve();
                }, 'json');
            };

            //Load
            loaded('up', deferred, null, vFunLoad);
        }, false);

        $(function () {
            //商品数量增减按钮事件绑定
            btnCountChangeBindEvent();
        })
    </script>
}