
@{
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<div class="uk-container">
    <div uRemark="头部|图片滑动">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="http://101.200.140.102:8123/zzwIntro.html">
                        <img src="~/StaticContent/image/swiper/logoNc.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="http://101.200.140.102:8123/zzwIntro.html">
                        <img src="~/StaticContent/image/swiper/logoNd.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="http://101.200.140.102:8123/zzwIntro.html">
                        <img src="~/StaticContent/image/swiper/logoNe.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="http://101.200.140.102:8123/zzwIntro.html">
                        <img src="~/StaticContent/image/swiper/logoNf.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="http://101.200.140.102:8123/zzwIntro.html">
                        <img src="~/StaticContent/image/swiper/logoNg.jpg" alt="">
                    </a>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <br />

    @if (ViewBag.listNa != null)
    {
        <div uRemark="内容区域" class="uk-container uk-block" style="width:100%;background-color:#f8f8f8;">
            <br />
            <div uRemark="商品列表" class="uk-grid">
                @foreach (var item in ViewBag.listNa)
                {
                    <div class="uk-width-medium-1-2">
                        <div class="uk-panel uk-panel-box uk-panel-box-primary shop-item" style="margin-bottom:25px;">
                            <a href="/WeShop/CommodityInfo/@item.ID">
                                <img src="~/@item.Photo" alt="" class="uk-thumbnail uk-align-center shop-img">
                                <p>
                                    <h1>@item.Title</h1>
                                </p>
                                <h1 style="color:red;">￥@item.Price</h1>
                            </a>
                        </div>
                    </div>
                }
                <div class="uk-width-1-1" style="height:25px;"></div>
            </div>
        </div>
    }
</div>

@section LayoutShop{
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            paginationClickable: true,
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: 2500,
            autoplayDisableOnInteraction: false
        });
    </script>
}