
@{
    ViewBag.Title = "智种商城—店铺主页";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

@section LayoutHead{
    <style type="text/css">
        body {
            background: #FBF9F5;
        }

        .uk-text-bold {
            font-weight: 500;
        }

        .search-font {
            width: 100%;
            font-size: 35px;
            padding-left: 100px;
            font-family: Helvetica,"STHeiti STXihei","Microsoft JhengHei","Microsoft YaHei",Tohoma,Arial;
            height: 70px;
        }

        .search-icon {
            left: 35px;
            position: absolute;
            color: #BDBDBD;
            font-size: 35px;
            top: 20px;
        }
    </style>

    <link href="~/StaticContent/css/selfScroll.css" rel="stylesheet" />

    <script src="~/StaticContent/js/iscroll.js"></script>
    <script src="~/StaticContent/js/selfScroll.js" charset="UTF-8"></script>
    <script src="~/StaticContent/js/template.js"></script>

    <script id="tplCommodity" type="text/html">
        {{each List as value index}}
        <div class="uk-width-medium-1-2">
            <div class="uk-panel uk-panel-box uk-panel-box-primary shop-item parent-pos" style="margin-bottom:25px;">
                <a href="/WeShop/CommodityInfo/{{value.ID}}">
                    <img src="/{{value.Photo}}" alt="" class="uk-thumbnail uk-align-center shop-img">
                    <p>
                        <h1>{{value.Title}}</h1>
                    </p>
                    <h1 style="color:red;">
                        {{if value.HasDiscount}}
                        <del class="del-color">￥{{value.Price}}</del>
                        {{/if}}
                        ￥{{value.DiscountPrice}}
                    </h1>
                </a>
                <span class="child-pos main-cart" uId="{{value.ID}}" onclick="BtnMainCartClickOpe();"></span>
            </div>
        </div>
        {{/each}}
    </script>
}

<div style="height:100%;width:100%;" id='wrapper'>
    <div id="scroller">

        <div uRemark="头部|图片滑动">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper shop-img">
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="~/StaticContent/image/swiper/swpNa.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="~/StaticContent/image/swiper/swpNb.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="~/StaticContent/image/swiper/swpNc.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="~/StaticContent/image/swiper/swpNd.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="~/StaticContent/image/swiper/swpNe.jpg" alt="">
                        </a>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div uRemark="内容区域" class="uk-container uk-block" style="width:100%;background-color:#f8f8f8;">
            <br />
            <div uRemark="搜素" class="uk-container-center" style="position:relative">
                <i class="uk-icon-search search-icon"></i>
                <input type="text" placeholder="商品搜索：请输入商品关键字" class="uk-form-large search-font">
            </div>
            <br />

            <div uRemark="模块" class="uk-grid">

                @{
                    foreach (var item in ViewBag.listNa)
                    {
                        <div class="uk-width-medium-1-2 shop-module" onclick="window.location.href = '/WeShop/CommodityList/@item.MID/@item.Title';">
                            <div class="uk-cover-background uk-position-relative" style="height: 487px; background-image: url(../@item.Photo);">
                            </div>
                        </div>
                    }
                }
                <div class="uk-width-1-1" style="height:25px;"></div>
            </div>
            <br />
            <div uRemark="推荐">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2 uk-text-left">
                        <span class="uk-text-large uk-text-bold mobile-font" style="color:#4E4E4E;">最热商品</span>
                    </div>
                    <div class="uk-width-medium-1-2 uk-text-right">
                        <span class="uk-text-large uk-text-bold uk-text-right mobile-font"><a href="/WeShop/CommodityList/-1/全部商品" style="color:#4E4E4E;">查看全部</a></span>
                    </div>
                </div>
                <div class="uk-width-1-1" style="height:25px;"></div>
            </div>
            <br />
            <div uRemark="商品列表" class="uk-grid" id="dCommodityList">
                @{
                    foreach (var item in ViewBag.listNb)
                    {
                        <div class="uk-width-medium-1-2">
                            <div class="uk-panel uk-panel-box uk-panel-box-primary shop-item" style="margin-bottom:25px;">
                                <a href="/WeShop/CommodityInfo/@item.ID">
                                    <img src="~/@item.Photo" alt="" class="uk-thumbnail uk-align-center shop-img">
                                    <p>
                                        <h1>@item.Title</h1>
                                    </p>
                                    <h1 style="color:red;">
                                        @if (item.HasDiscount)
                                        {
                                            <del class="del-color">￥@item.Price</del>
                                        }
                                        ￥@item.DiscountPrice
                                    </h1>
                                </a>
                                <span class="child-pos main-cart" uId="@item.ID"></span>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="uk-width-1-1" style="height:25px;"></div>
        </div>

        <div id="pullUp" class="" style="margin-bottom:100px;">
            <div class="uk-align-center" style="width:35%">
                <span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多</span>
            </div>
        </div>

    </div>

    <div class="uk-grid w" style="background-color:#FAFAFA;">
        <div class="uk-width-1-4" style="border-left:1px solid #777777;">
            <button class="uk-button uk-icon-home suspend-bottom" style="font-size:72px;" id="susBtnNa"></button>
        </div>
        <div class="uk-width-1-4 " data-uk-dropdown={mode:'click',pos:'top-center'} style="border-left:1px solid #777777;">
            <button class="uk-button suspend-bottom" id="susBtnNb">商品分类</button>
            <div class="uk-dropdown">
                <ul class="uk-nav uk-nav-dropdown">
                    <li>
                        <a>育种素材</a>
                    </li>
                    <li>
                        <a>育种素材</a>
                    </li>
                    <li>
                        <a>育种素材</a>
                    </li>
                    <li>
                        <a>育种素材</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="uk-width-1-4 " style="border-left:1px solid #777777;">
            <button class="uk-button suspend-bottom" id="susBtnNc">购物车</button>
        </div>
        <div class="uk-width-1-4" style="border-left:1px solid #777777;">
            <button class="uk-button suspend-bottom" id="susBtnNd">我的商城</button>
        </div>
    </div>

    <div id="modalAddShop" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header uk-grid">
                <div class="uk-width-2-6">
                    <img class="uk-thumbnail mini-photo" src="" alt="" id="modalCommImg">
                </div>
                <div class="uk-width-3-6">
                    <h1 style="font-size:36px;" id="modalCommTitle"></h1>
                    <h1 style="color:red;font-size:36px;" id="showShopPrice">￥</h1>
                </div>
                <div class="uk-width-1-6">
                    <a href="" class="uk-icon-hover uk-icon-close uk-modal-close uk-float-right" style="font-size:100px;"></a>
                </div>
            </div>

            <div id="dModalCommOption" uFlag="HasOption">
                <div class="br-box">
                    <br />
                </div>
                <div class="uk-width-1-1">
                    <br />
                    <h1>规格：</h1>
                </div>
                <div class="uk-flex" id="dCommoOptionShop" uid="" uPrice="0">
                </div>
                <br />
            </div>

            <div class="br-box">
                <br />
            </div>
            <br />
            <div class="uk-grid">
                <h1 class="uk-width-1-4">数量:</h1>
                <div class="uk-width-1-4"></div>
                <div class="uk-width-2-4 uk-float-right">
                    <button class="uk-button commodity-count" id="btnShopCountSub">-</button>
                    <button class="uk-button commodity-count" disabled="disabled" id="btnShopCount">1</button>
                    <button class="uk-button commodity-count" id="btnShopCountPlus">+</button>
                </div>
            </div>
            <br />
            <div class="br-box">
                <br />
            </div>

            <div class="uk-modal-footer">
                <button type="button" class="uk-button uk-button-large uk-width-1-1 mobile-button" style="background-color:#ff5000;" id="btnAddShop">加入购物车</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hPageIndex" value="1" />
<input type="hidden" id="hIsScrollLast" value="False" />
<input type="hidden" value="" id="hStoreID" />

@section LayoutShop{
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            paginationClickable: true,
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: 2500,
            autoplayDisableOnInteraction: false,
            loop: true
        });

        $(function () {
            ////悬浮代码如下：
            //new function (w, b, c, d, o) { // www.jquerycn.cn
            //    d = document;
            //    b = d.body;
            //    o = b.childNodes;
            //    c = "className";
            //    b.appendChild(w = d.createElement("div"))[c] = "b";
            //    for (var i = 0; i < o.length - 1; i++)
            //        if (o[i][c] != "w") w.appendChild(o[i]), i--;
            //    (window.touchmove = function () {
            //        w.style.width = d.documentElement.clientWidth + "px";
            //        w.style.height = d.documentElement.clientHeight + "px";
            //    })();
            //}; // suspend function end

            //事件绑定
            BindEvent();

            //商品数量增减按钮事件绑定
            btnCountChangeBindEvent();
        })

        //自定义方法区

        var vCommodityID = '';

        //事件绑定
        function BindEvent() {
            //首页
            $('#susBtnNa').click(function () { window.location.href = '/WeShop/Main'; });
            //商品分类
            $('#susBtnNb').click(function () { });
            //购物车
            $('#susBtnNc').click(function () { window.location.href = '/WeShop/ShoppingList'; });
            //我的商城
            $('#susBtnNd').click(function () { window.location.href = '/WeShop/CustomerCenter'; });
        }

        //--------------------上拉下滑相关代码--------------------//

        document.addEventListener('touchmove', function (e) {
            e.preventDefault();
        }, false);

        document.addEventListener('DOMContentLoaded', function () {
            //Deferred对象
            var deferred = $.Deferred();

            //底部上划数据加载方法
            var vFunLoad = function (deferred) {
                var IsLast = $('#hIsScrollLast');
                //验证是否为最后一页
                if (IsLast.val() == 'True') {
                    NotifyAlert('已加载完全部！');
                    deferred.resolve();
                    return false;
                }

                var vHItem = $('#hPageIndex');
                var vIndex = vHItem.val();
                vIndex = parseInt(vIndex) + 1;
                vHItem.val(vIndex);

                $.get('/RequestData/CommodityInfoByPage', { r: Math.random(), par1: '', par2: vIndex, par3: '' }, function (data) {
                    if (data && data.List) {
                        if (data.List.length == 0) { NotifyAlert('已加载完全部！'); IsLast.val('True'); }
                        else {
                            var vHtml = template('tplCommodity', data);
                            $('#dCommodityList').append(vHtml);
                        }
                    }
                    else {
                        NotifyAlert('数据加载失败！');
                    }
                    deferred.resolve();
                }, 'json');
            };

            //Load
            loaded('up', deferred, null, vFunLoad);
        }, false);

    </script>
}

