
@{
    ViewBag.Title = "智种商城——店铺主页";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

@section LayoutHead{
    <style type="text/css">
        body {
            background: #eee;
        }

        body {
            -webkit-user-select: none;
            -webkit-text-size-adjust: none;
        }

        #header {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 45px;
            line-height: 45px;
            background-color: #d51875;
            background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fe96c9), color-stop(0.05, #d51875), color-stop(1, #7b0a2e));
            background-image: -moz-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
            background-image: -o-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
            padding: 0;
            color: #eee;
            font-size: 20px;
            text-align: center;
        }

            #header a {
                color: #f3f3f3;
                text-decoration: none;
                font-weight: bold;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
            }

        #footer {
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 48px;
            background-color: #222;
            background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));
            background-image: -moz-linear-gradient(top, #999, #666 2%, #222);
            background-image: -o-linear-gradient(top, #999, #666 2%, #222);
            padding: 0;
            border-top: 1px solid #444;
        }

        #wrapper {
            position: absolute;
            z-index: 1;
            top: 0px;
            bottom: 0px;
            left: -9999px;
            width: 100%;
            background: #aaa;
            overflow: auto;
        }

        #scroller {
            position: absolute;
            z-index: 1;
            /*  -webkit-touch-callout:none;*/
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            width: 100%;
            padding: 0;
        }

            #scroller ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;
                text-align: left;
            }

            #scroller li {
                padding: 0 10px;
                height: 40px;
                line-height: 40px;
                border-bottom: 1px solid #ccc;
                border-top: 1px solid #fff;
                background-color: #fafafa;
                font-size: 14px;
            }

        #myFrame {
            position: absolute;
            top: 0;
            left: 0;
        }
        /**
        *
        * Pull down styles
        *
        */

        #pullDown,
        #pullUp {
            background: #fff;
            height: 150px;
            line-height: 150px;
            padding: 5px 10px;
            border-bottom: 1px solid #ccc;
            font-weight: bold;
            font-size: 14px;
            color: #888;
        }

            #pullDown .pullDownIcon,
            #pullUp .pullUpIcon {
                display: block;
                float: left;
                width: 150px;
                height: 150px;
                background: url('../../StaticContent/image/public/pull-icon@2x.png') 0 0 no-repeat;
                -webkit-background-size: 150px 300px;
                background-size: 150px 300px;
                -webkit-transition-property: -webkit-transform;
                -webkit-transition-duration: 250ms;
            }

            #pullDown .pullDownIcon {
                -webkit-transform: rotate(0deg) translateZ(0);
            }

            #pullUp .pullUpIcon {
                -webkit-transform: rotate(-180deg) translateZ(0);
            }

            #pullDown.flip .pullDownIcon {
                -webkit-transform: rotate(-180deg) translateZ(0);
            }

            #pullUp.flip .pullUpIcon {
                -webkit-transform: rotate(0deg) translateZ(0);
            }

            #pullDown.loading .pullDownIcon,
            #pullUp.loading .pullUpIcon {
                background-position: 0 100%;
                -webkit-transform: rotate(0deg) translateZ(0);
                -webkit-transition-duration: 0ms;
                -webkit-animation-name: loading;
                -webkit-animation-duration: 2s;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
            }

        .pullUpLabel {
            font-size: 30px;
        }
    </style>

    <script src="~/StaticContent/js/iscroll.js"></script>
    <script src="~/StaticContent/js/selfScroll.js" charset="UTF-8"></script>
    <script src="~/StaticContent/js/template.js"></script>

    <script id="tplCommodity" type="text/html">
        {{each List as value index}}
        <div class="uk-width-medium-1-2">
            <div class="uk-panel uk-panel-box uk-panel-box-primary shop-item" style="margin-bottom:25px;">
                <a href="/WeShop/CommodityInfo/{{value.ID}}">
                    <img src="/{{value.Photo}}" alt="" class="uk-thumbnail uk-align-center shop-img">
                    <p>
                        <h1>{{value.Title}}</h1>
                    </p>
                    <h1 style="color:red;">￥{{value.Price}}</h1>
                </a>
            </div>
        </div>
        {{/each}}
    </script>
}

<div style="height:100%;width:100%;" id='wrapper'>
    <div id="scroller">

        <div uRemark="头部|图片滑动">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper shop-img">
                    <div class="swiper-slide">
                        <a href="http://101.200.140.102:8123/zzwIntro.html">
                            <img src="~/StaticContent/image/swiper/swpNa.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="http://101.200.140.102:8123/zzwIntro.html">
                            <img src="~/StaticContent/image/swiper/swpNb.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="http://101.200.140.102:8123/zzwIntro.html">
                            <img src="~/StaticContent/image/swiper/swpNc.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="http://101.200.140.102:8123/zzwIntro.html">
                            <img src="~/StaticContent/image/swiper/swpNd.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="http://101.200.140.102:8123/zzwIntro.html">
                            <img src="~/StaticContent/image/swiper/swpNe.jpg" alt="">
                        </a>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <br />

        <div uRemark="内容区域" class="uk-container uk-block" style="width:100%;background-color:#f8f8f8;">
            <br />
            <div uRemark="搜素" class="uk-container-center">
                <input type="text" placeholder="商品搜索：清输入商品关键字" class="uk-form-large" style="width:100%;font-size:48px;">
            </div>
            <br />

            <div uRemark="模块" class="uk-grid">

                @{
                    foreach (var item in ViewBag.listNa)
                    {
                        <div class="uk-width-medium-1-2 shop-module" onclick="window.location.href = '/WeShop/CommodityList/@item.MID/@item.Title';">
                            <div class="uk-cover-background uk-position-relative" style="height: 487px; background-image: url(../@item.Photo);">
                            </div>
                        </div>
                    }
                }
                <div class="uk-width-1-1" style="height:25px;"></div>
            </div>
            <br />
            <div uRemark="推荐">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2 uk-text-left">
                        <span class="uk-text-large uk-text-bold mobile-font" style="color:#4E4E4E;">最热商品</span>
                    </div>
                    <div class="uk-width-medium-1-2 uk-text-right">
                        <span class="uk-text-large uk-text-bold uk-text-right mobile-font"><a href="/WeShop/CommodityList/-1/全部商品" style="color:#4E4E4E;">查看全部></a></span>
                    </div>
                </div>
                <div class="uk-width-1-1" style="height:25px;"></div>
            </div>
            <br />
            <div uRemark="商品列表" class="uk-grid" id="dCommodityList">
                @{
                    foreach (var item in ViewBag.listNb)
                    {
                        <div class="uk-width-medium-1-2">
                            <div class="uk-panel uk-panel-box uk-panel-box-primary shop-item" style="margin-bottom:25px;">
                                <a href="/WeShop/CommodityInfo/@item.ID">
                                    <img src="~/@item.Photo" alt="" class="uk-thumbnail uk-align-center shop-img">
                                    <p>
                                        <h1>@item.Title</h1>
                                    </p>
                                    <h1 style="color:red;">￥@item.Price</h1>
                                </a>
                            </div>
                        </div>
                    }
                }
                <div class="uk-width-1-1" style="height:25px;"></div>
            </div>
        </div>

        <div id="pullUp" class="" style="margin-bottom:100px;">
            <div class="uk-align-center" style="width:35%">
                <span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多</span>
            </div>
        </div>

    </div>

    <div class="uk-grid w" style="background-color:#FAFAFA;">
        <div class="uk-width-1-4" style="border-left:1px solid #777777;">
            <button class="uk-button uk-icon-home suspend-bottom" style="font-size:72px;" id="susBtnNa"></button>
        </div>
        <div class="uk-width-1-4 " data-uk-dropdown={mode:'click',pos:'top-center'} style="border-left:1px solid #777777;">
            <button class="uk-button suspend-bottom" id="susBtnNb">商品分类</button>
            <div class="uk-dropdown">
                <ul class="uk-nav uk-nav-dropdown">
                    <li>
                        <a>育种素材</a>
                    </li>
                    <li>
                        <a>育种素材</a>
                    </li>
                    <li>
                        <a>育种素材</a>
                    </li>
                    <li>
                        <a>育种素材</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="uk-width-1-4 " style="border-left:1px solid #777777;">
            <button class="uk-button suspend-bottom" id="susBtnNc">购物车</button>
        </div>
        <div class="uk-width-1-4" style="border-left:1px solid #777777;">
            <button class="uk-button suspend-bottom" id="susBtnNd">我的订单</button>
        </div>
    </div>
</div>

<input type="hidden" id="hPageIndex" value="0" />

@section LayoutShop{
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            paginationClickable: true,
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: 2500,
            autoplayDisableOnInteraction: false,
            loop: true
        });

        $(function () {
            ////悬浮代码如下：
            //new function (w, b, c, d, o) { // www.jquerycn.cn
            //    d = document;
            //    b = d.body;
            //    o = b.childNodes;
            //    c = "className";
            //    b.appendChild(w = d.createElement("div"))[c] = "b";
            //    for (var i = 0; i < o.length - 1; i++)
            //        if (o[i][c] != "w") w.appendChild(o[i]), i--;
            //    (window.touchmove = function () {
            //        w.style.width = d.documentElement.clientWidth + "px";
            //        w.style.height = d.documentElement.clientHeight + "px";
            //    })();
            //}; // suspend function end

            //事件绑定
            BindEvent();
        })

        //自定义方法区

        //事件绑定
        function BindEvent() {
            //首页
            $('#susBtnNa').click(function () { window.location.href = '/WeShop/Main'; });
            //商品分类
            $('#susBtnNb').click(function () { });
            //购物车
            $('#susBtnNc').click(function () { window.location.href = '/WeShop/ShoppingList'; });
            //我的订单
            $('#susBtnNd').click(function () { window.location.href = '/WeShop/OrderList'; });
        }

        document.addEventListener('touchmove', function (e) {
            e.preventDefault();
        }, false);

        document.addEventListener('DOMContentLoaded', function () {
            //Deferred对象
            var deferred = $.Deferred();

            //底部上划数据加载方法
            var vFunLoad = function (deferred) {
                var vHItem = $('#hPageIndex');
                var vIndex = vHItem.val();
                vIndex = parseInt(vIndex) + 1;
                vHItem.val(vIndex);

                $.get('/RequestData/CommodityInfoByPage', { r: Math.random(), par1: '', par2: vIndex, par3: '' }, function (data) {
                    if (data && data.List) {
                        var vHtml = template('tplCommodity', data);
                        $('#dCommodityList').append(vHtml);
                        deferred.resolve();
                    }
                    else {
                        NotifyAlert('数据加载失败！');
                    }
                }, 'json');
            };

            //Load
            loaded('up', deferred, null, vFunLoad);
        }, false);

    </script>
}

