
@{
    ViewBag.Title = "PayApply";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<script type="text/javascript">

    //调用微信JS api 支付
    function jsApiCall() {
        var vWxJsApiParam = {};
        $.getJSON('/WeToken/PayApplyContent', { r: Math.random() }, function (data) {
            if (data == undefined || data == '') {
                NotifyAlert('下单失败！请重新操作！');
                window.location.href = '/WeShop/OrderList';
                return false;
            }
            vWxJsApiParam = data;
        }).done(function () {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                vWxJsApiParam,//josn串
                 function (res) {
                     WeixinJSBridge.log(res.err_msg);
                     alert(res.err_code + res.err_desc + res.err_msg);

                     for (var item in res) {
                         alert('res中' + item + '的值：' + res[item]);
                     }

                 }
             );

        });
    }

    function callpay() {
        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }
            else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }
        else {
            jsApiCall();
        }
    }

    $(function () {
        //初始化
        InitData();

        callpay();
    });

    //自定义方法区

    //初始化
    function InitData() {
        var vFlag = '@ViewBag.Flag';
        if (vFlag == 'False') {

            NotifyAlert('@ViewBag.Msg');

            setTimeout(function () {
                window.location.href = '@ViewBag.RedirectUrl';
            }, 1500);
        }
    }
</script>

<div class="uk-panel uk-panel-box uk-text-break">
    <h1>订单详情：</h1>
    <br />
    <h1>@ViewBag.Content</h1>
</div>

