@model List<ZZSCModel.WX_ZZSCShopOrderInfo>
@{
    ViewBag.Title = "ShoppingList";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<div class="uk-container">
    <div uRemark="结算" data-uk-sticky>
        <div class="uk-panel uk-panel-box uk-grid" style="height:130px;">
            <div class="uk-width-medium-1-3 uk-height-1-1 uk-vertical-align">
                <h1 class=" uk-vertical-align-middle">
                    <input type="checkbox" class="mobile-radio" id="cbAll" name="abAll" />
                    <lable for="cbAll" class="mobile-font">全选</lable>
                </h1>
            </div>
            <div class="uk-width-medium-1-3 uk-height-1-1 uk-vertical-align">
                <h1 style="color:#FF0000" class="mobile-font uk-vertical-align-middle">合计：99元</h1>
            </div>
            <div class="uk-width-medium-1-3">
                <button class="uk-button uk-button-large uk-width-1-1 mobile-button" type="button" style="background-color:#f50;height:130px;" onclick="window.location.href='04OrderList.html';">
                    结算(1)
                </button>
            </div>
        </div>
    </div>
    <div class="uk-block">
        <div uRemark="导航">
            <ul class="uk-tab" data-uk-tab="{connect:'#tab-content'}">
                <li class="uk-active uk-width-medium-1-4 active">
                    <h1 class="mobile-font">&nbsp&nbsp&nbsp购物车</h1>
                </li>
                <li class="uk-width-medium-1-4">
                    <h1 class="mobile-font">购物记录</h1>
                </li>
                <li class="uk-width-medium-1-4">
                    <h1 class="mobile-font">我的红包</h1>
                </li>
                <li class="uk-width-medium-1-4">
                    <h1 class="mobile-font">我的返现</h1>
                </li>
            </ul>
            <div class="br-box">
                <br />
            </div>
            <div uRemark="编辑" class="uk-grid">
                <div class="uk-width-1-1" style="height:25px;"></div>
                <div class="uk-width-1-1" style="height:25px;"></div>
                <div class="uk-width-medium-1-2 uk-text-left mobile-font">店铺：逻辑思维</div>
                <div class="uk-width-medium-1-2 uk-text-right mobile-font"><a href="04OrderList.html">编辑</a></div>
                <div class="uk-width-1-1" style="height:25px;"></div>
            </div>
            <br />
            <ul id="tab-content" class="uk-switcher">
                <li class="uk-active">
                    @{
                        foreach (var item in Model)
                        {
                            <div class="uk-panel uk-panel-box uk-flex uk-flex-space-between uk-flex-middle mobile-shopDiv" for="shopItmeNa">
                                <input type="checkbox" class="mobile-radio" />
                                <img src="image/info/infoNb.jpg" alt="" class="uk-thumbnail uk-width-medium-2-10 shop-img" style="width:480px;">
                                <p class="uk-width-medium-5-10 uk-text-break mobile-shopItem">【第二批预售1月30日发货】最强大脑训练：《推理的迷宫》 + 《囚徒的困境》</p>
                                <div class="uk-width-medium-2-10 mobile-font">
                                    <h1 style="color:red;">￥99.00</h1>
                                    <h1 style="color:red;">×1</h1>
                                </div>
                            </div>
                        }
                    }
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-space-between uk-flex-middle mobile-shopDiv" for="shopItmeNa">
                        <input type="checkbox" class="mobile-radio" />
                        <img src="image/info/infoNb.jpg" alt="" class="uk-thumbnail uk-width-medium-2-10 shop-img" style="width:480px;">
                        <p class="uk-width-medium-5-10 uk-text-break mobile-shopItem">【第二批预售1月30日发货】最强大脑训练：《推理的迷宫》 + 《囚徒的困境》</p>
                        <div class="uk-width-medium-2-10 mobile-font">
                            <h1 style="color:red;">￥99.00</h1>
                            <h1 style="color:red;">×1</h1>
                        </div>
                    </div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-space-between uk-flex-middle mobile-shopDiv" for="shopItmeNa">
                        <input type="checkbox" class="mobile-radio" />
                        <img src="image/info/infoNb.jpg" alt="" class="uk-thumbnail uk-width-medium-2-10 shop-img" style="width:480px;">
                        <p class="uk-width-medium-5-10 uk-text-break mobile-shopItem">【第二批预售1月30日发货】最强大脑训练：《推理的迷宫》 + 《囚徒的困境》</p>
                        <div class="uk-width-medium-2-10 mobile-font">
                            <h1 style="color:red;">￥99.00</h1>
                            <h1 style="color:red;">×1</h1>
                        </div>
                    </div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-space-between uk-flex-middle mobile-shopDiv" for="shopItmeNa">
                        <input type="checkbox" class="mobile-radio" />
                        <img src="image/info/infoNb.jpg" alt="" class="uk-thumbnail uk-width-medium-2-10 shop-img" style="width:480px;">
                        <p class="uk-width-medium-5-10 uk-text-break mobile-shopItem">【第二批预售1月30日发货】最强大脑训练：《推理的迷宫》 + 《囚徒的困境》</p>
                        <div class="uk-width-medium-2-10 mobile-font">
                            <h1 style="color:red;">￥99.00</h1>
                            <h1 style="color:red;">×1</h1>
                        </div>
                    </div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-space-between uk-flex-middle mobile-shopDiv" for="shopItmeNa">
                        <input type="checkbox" class="mobile-radio" />
                        <img src="image/info/infoNb.jpg" alt="" class="uk-thumbnail uk-width-medium-2-10 shop-img" style="width:480px;">
                        <p class="uk-width-medium-5-10 uk-text-break mobile-shopItem">【第二批预售1月30日发货】最强大脑训练：《推理的迷宫》 + 《囚徒的困境》</p>
                        <div class="uk-width-medium-2-10 mobile-font">
                            <h1 style="color:red;">￥99.00</h1>
                            <h1 style="color:red;">×1</h1>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-space-between uk-flex-middle mobile-shopDiv" for="shopItmeNa">
                        <input type="checkbox" class="mobile-radio" />
                        <img src="image/info/infoNb.jpg" alt="" class="uk-thumbnail uk-width-medium-2-10 shop-img" style="width:480px;">
                        <p class="uk-width-medium-5-10 uk-text-break mobile-shopItem">【第二批预售1月30日发货】最强大脑训练：《推理的迷宫》 + 《囚徒的困境》</p>
                        <div class="uk-width-medium-2-10 mobile-font">
                            <h1 style="color:red;">￥99.00</h1>
                            <h1 style="color:red;">×1</h1>
                        </div>
                    </div>
                </li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div uRemark="购物车列表"></div>
    </div>
</div>
